* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

#app {
  flex: 1;
  display: block;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
